.specs {
    font-size: 14px;

    .spec-group {
        padding: var(--space-micro) 0;

        .spec-group-title {
            margin-bottom: var(--space-micro);
            font-weight: bold;
        }

        ul li {
            padding: 2px 0;

            .icon {
                width: 15px;
                height: 15px;
                display: inline-block;
                margin-right: 7px;
                top: 2px;
                position: relative;

                &.check {
                    background: url('https://cdn.pickzen.com/themes/11/check_off.svg') no-repeat;

                    &.active {
                        background: url('https://cdn.pickzen.com/themes/11/check_on.svg') no-repeat;
                    }
                }

                &.dot {
                    background: url('https://cdn.pickzen.com/themes/11/dot.svg') no-repeat;
                }
            }
       }
    }

}