.pickzen {
    .navigation {
        padding-top: var(--space-mini);
        display: flex;
        justify-content: space-between;

        button {
            font-size: 13px;
        }
    }

    .next {
        background-color: var(--button-next-color-background);

        &:hover {
            background-color: var(--button-next-color-background-hover);
        }
    }
}
