.pickzen {
    .form-selection {
        display: flex;
        justify-content: center;

        .form-fields {
            max-width: 600px;
            width: 100%;

            li {
                margin-bottom: var(--space-mini);
                list-style-type: none;

                input[type="text"] {
                    width: 100%;
                    font-size: 14px;
                    padding-left: var(--space-medium);
                    height: 40px;
                    border: 2px solid lightgrey;

                    &::placeholder {
                        font-size: 1em;
                        font-weight: 500;
                        color: var(--color-secondary);
                    }

                    &::placeholder {
                        font-size: 0.75rem;
                    }
                }

                &.checkbox {
                    label:hover {
                        cursor: pointer;
                    }

                    .title {
                        display: inline-block;
                    }
                }

                &.invalid {
                    label {
                        color: #f00;
                    }

                    input[type="text"] {
                        border-color: #f00;
                    }

                }
            }
        }

    }

}